<h1>{{ model.name }}</h1>

<h2>Squad:</h2>

<ul>
  {{#each model.players as |player|}}
    <li>{{player.name}}</li>
  {{/each}}
</ul>

<h2>Fixtures:</h2>

<ul>
  {{#each model.fixtures as |fixture|}}
  <li>{{fixture.homeTeam.name}} vs {{fixture.awayTeam.name}}</li>
  {{/each}}
</ul>
